/* chamber-site-plan.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #336699;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding-bottom: 60px; 
}

section {
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    color: #336699;
    text-decoration: underline;
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #336699;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    max-height: 350px;
}
