/* normalize.css */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Add any additional normalization styles as needed */
